# Data
*.nc
*.mat

# Figures
*.png
*.jpg
*.jpeg
*.tif
*.tiff

# MATLAB
*.asv

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
build/
dist/
*.egg-info/

# Folders
input_data/
output_data/
archive/

# OS files
.DS_Store
Thumbs.db
desktop.ini
